.InfoCard-Container {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: .5rem 1rem;
    line-height: 1.8;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    
    border-radius: .8rem;
  }

  .Infocard-Heading {
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
  }

  .Infocard-Body {
    justify-content: space-between;
  }

  .infoCard-Paragraph {
    margin-top: 1rem;
  }


  .blue {
    border-color: #287ce3;
  }

  .green {
    border-color: green;
  }